/*Site Nav*/
header.Header{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 5px 9px -2px rgba(34, 36, 37, 0.28);
}

@media (min-width: 600px){
	.Index-page-content{
 		padding-top: 125px;
	} 
} 

.sqs-gallery-block-slideshow .meta .meta-title{
  font-size: 80px;
  font-weight: 800;	
  font-family: "Impact";
}

@media only screen and (max-width: 480px){
  .sqs-gallery-block-slideshow .meta{
    display: block !important;
  }
}

@media (max-width: 600px){
	.sqs-gallery-block-slideshow .meta .meta-title{
 		font-size: 50px !important;
      font-family: "Lato", sans-serif;
	} 
}



.Index-page-content div.meta{
  background-color: transparent;
}
.sqs-gallery-block-slideshow .meta{
  max-width: 1600px !important;
  top: 40% !important;
}

header a[href*="/sale/"]{
  color: red !important;
}

.Footer-blocks--bottom h3 a[href*="/edwardleonjasper.com"]{
  font-size:8px;
}

.sqs-block.gallery-block.sqs-block-gallery{
  padding: 0;
}
#featured-products{
  border-bottom: 15px solid black;
}
#featured-products div.sqs-image-content{
  border: 10px solid black;
}
#featured-products .sqs-block-content h1{
  font-size: 70px !important;
  margin-bottom: 0 !important;
  font-family: 'Impact' !important;
}
#featured-products .sqs-block-content h2{
  font-size: 46px !important;
  margin-top: 0 !important;
  color: white;
  font-family: 'Impact' !important;
}
@media (max-width: 600px){
  #featured-products .sqs-block-content h2 + h1{
      font-family: 'Lato' !important;
  }
}

@media (max-width: 600px){
  #featured-products .sqs-block-content h1{
      font-size: 80px !important;
  }
}

.sqs-col-2.span-2{
  display: flex !important;
  flex-direction: column !important;
  height: 100vh !important;
  justify-content: center !important;
}
.ProductList-grid{
  display: flex !important;
  justify-content: center !important;
  flex-wrap:wrap !important;
}

#home-nature .sqs-block-content h1{
   	padding-left: 100px;
    font-family: Impact;
    font-size: 100px;
}
@media (max-width: 1025px){
  #home-nature .sqs-block-content h1{
   	padding-left: 0;
    font-family: "Lato", "Arial Black", "sans serif";
    font-size: 60px;
  }
}

.ProductItem-details em{
  color: darkred;
}

#confirmed-page{
	padding-top: 150px;
}